<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/fragments :: header"></div>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <nav th:replace="fragments/fragments :: navigation"></nav>

    <aside  class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="dist/img/ksLogo.png" alt="Kosova Saat Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Kosova Saat</span>
        </a>
        <nav th:replace="fragments/fragments  :: sidebar"></nav>
    </aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Customers</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-2">
                        <a class="btn btn-block btn-success btn-sm" th:href="@{/newCustomer}" >
                            <i class="ion ion-person-add"></i>
                            New Customer
                        </a>
                    </div>
                </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All Customers</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <p th:if="${customers.empty}"> No Customers yet</p>
                            <table th:if="${!customers.empty}" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Phone Number</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="customer : ${customers}">
                                    <td th:text="${customer.customerName}"></td>
                                    <td th:text="${customer.customerSurname}"></td>
                                    <td th:text="${customer.phoneNumber}"></td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" th:href="@{/orders/{id}(id=${customer.id})}"><i class="fa fa-user"></i></a>
                                        <a class="btn btn-primary btn-sm" th:href="@{/editCustomer/{id}(id=${customer.id})}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm" th:href="@{/deleteCustomer/{id}(id=${customer.id})}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>
</div>

</body>
<div th:insert="fragments/fragments :: footer"></div>
</html>